<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <link rel="shortcut icon" type="image/png" href="/css/etoile.ico" sizes="16x16"/>
        <link rel="stylesheet" href="/css/structure.css" />
        <link href="/css/lightbox.css" rel="stylesheet">
        <title> {{title}}</title>
    </head>
    <body class="monBody">
        <div id="container">
            <div id="header">
                <div class="baniere"><img src="/images/sixvoix.png" alt="SIXVOIX l'encyclopédie des stars" /> </div>
            </div>
            <div id="deco">
                <a href="/"><p>Deconnexion</p></a>
            </div>
            <div class="menu_haut">
              <ul>
                <li class="traitVertical"><a href="/vips">VIPS</a></li>
                <li class="traitVertical"><a href="/photos">PHOTOS</a></li>
              </ul>
            </div>
            <div id="contenu">
                <br/>
                <br/>
                    {{{body}}}
            </div>
        </div>
        <script src="/js/jquery.js"></script>
        <script src="/js/lightbox.js"></script>
    </body>
</html>