{{> menuPhoto}}

<fieldset id="fieldSetAjouterPhoto">
    <legend>Ajout d'une photo</legend>

    <form id="formulaireAjoutPhoto">
        <table>
            <tr>
                <td>Nom du vip :</td>
                <td><select name="vip" size="1">
                    <option>Masculin</option>
                    <option>Féminin</option>
                </select></td>
            </tr>
            <tr>
                <td>Adresse de la photo :</td>
                <td><input type="text" name="adresse">
                <input type="button" value="Parcourir..."></td>
            </tr>
            <tr>
                <td>Sexe</td>
                <td><select name="sexe" size="1">
                    <option>Masculin</option>
                    <option>Féminin</option>
                </select></td>
            </tr>
            <tr>
                <td>Date de naissance :</td>
                <td><input type="text" size="6" name="dateNaiss" placeholder="jj/mm/aaaa"></td>
            </tr>
            <tr>
                <td>Nationalité :</td>
                <td><select name="sexe" size="1">
                    <option>Américaine</option>
                    <option>Française</option>
                </select></td>
            </tr>
            <tr>
                <td>Commentaire :</td>
                <td><input type="text" id="commentaire" name="commentaire"></td>
            </tr>
            <tr>
                <td>Sélectionner l'image' :</td>
                <td><input type="text" name="commentaire">
                <input type="button" value="Parcourir..."> Sujet : </td>
            </tr>
            <tr>
                <td><input type="button" value="Ajouter"></td>
            </tr>
        <table>
    </form>
</fieldset>