{{> menuPhoto}}

<fieldset id="fieldSetAjouterPhoto">
    <legend>Ajout d'une photo</legend>

    <form id="formulaireAjoutPhoto">
        <table>
            <tr>
                <td>Nom du vip :</td>
                <td><select name="vip" size="1">
                    {{#each nomsPrenomsVips}}
                        <option>{{this.VIP_NOM}} {{this.VIP_PRENOM}}</option>
                    {{/each}}
                </select></td>
            </tr>
            <tr>
                <td>Adresse de la photo :</td>
                <td><input type="file" name="img" value="Parcourir..." required></td>
            </tr>
            <tr>
                <td>Titre</td>
                <td><input type="text" name="titre" required></td>
            </tr>
            <tr>
                <td>Un petit commentaire ?</td>
                <td><input type="text" name="comment"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Envoyer"></td>
                <td><input type="reset" value="Annuler"></td>
            </tr>
        <table>
    </form>
</fieldset>