{{> menuVips}}

<fieldset id="fieldSetAjouterVip">
    <legend>Ajout VIPS</legend>

    <form id="formulaireAjoutVip" action="/vips" method="POST">
        <table>
            <tr>
                <td>Nom* :</td>
                <td><input type="text" name="nom"></td>
            </tr>
            <tr>
                <td>Prénom* :</td>
                <td><input type="text" name="prenom"></td>
            </tr>
            <tr>
                <td>Sexe</td>
                <td><select name="sexe" size="1">
                    <option>Masculin</option>
                    <option>Féminin</option>
                </select></td>
            </tr>
            <tr>
                <td>Date de naissance :</td>
                <td><input type="text" size="6" name="dateNaiss" placeholder="jj/mm/aaaa"></td>
            </tr>
            <tr>
                <td>Nationalité :</td>
                <td><select name="nat" size="1">
                    <option>Américaine</option>
                    <option>Française</option>
                </select></td>
            </tr>
            <tr>
                <td>Commentaire :</td>
                <td><input type="text" id="commentaire" name="commentaire"></td>
            </tr>
            <tr>
                <td>Sélectionner l'image' :</td>
                <td><input type="file" name="img" value="Parcourir..."> Sujet : </td>
            </tr>
            <tr>
                <td><input type="submit" value="Ajouter"></td>
            </tr>
        <table>
    </form>
</fieldset>