{{> listeLettres}}
<table>
    <tr>
    {{#each noms}}
    <td>
        <a href="/repertoire/vip/{{this.VIP_NUMERO}}">
        <img src="/images/vip/{{this.PHOTO_ADRESSE}}" width="160" height="200">
        <p>{{this.VIP_PRENOM}} {{this.VIP_NOM}}</p>
        </a>
    </td>
    {{/each}}
    </tr>
</table>